.shopping-list-items-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Shopping list images */
.shopping-list-items > li > img {
	width: 200px;
}

.shopping-list-items > li {
	width: 500px;
}

.shopping-list-items {
	padding: 20px;
}

h4:hover {
	cursor: pointer;
}

h4 {
	padding: 10px;
	font-style: italic;
}

.cart-items-title {
	text-align: center;
}

h1 {
	margin: 20px;
}
